<p>trash works!</p>
<div class="row">
    <div class="col-12" *ngFor="let product of trashedProductList;">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="product.imageUrl" [alt]="product.title">
          <div class="card-body">
            <h5 class="card-title">{{product.title | titlecase}}</h5>
            <p class="card-text">{{product.description}}.</p>
            <button class="btn btn-success pull-left" (click)="statusChange(product.productId)">Restore</button>
            <button class="btn btn-danger pull-right" (click)="deleteProduct(product.productId)">Delete</button>
          </div>
        </div>
      </div>
</div>